.Settings {
    width: 775px;
    height: 430px;
    background-color: rgb(2,38,74);
    color: rgb(195,237,252);
    box-sizing: border-box;
    position: relative;
    border-radius: 6px;
    -webkit-box-shadow: inset 0px 0px 4px 2px rgba(247,247,247,0.1), 0px 0px 4px 2px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 0px 0px 4px 2px rgba(247,247,247,0.1), 0px 0px 4px 2px rgba(0,0,0,0.9);
    box-shadow: inset 0px 0px 4px 2px rgba(247,247,247,0.1), 0px 0px 4px 2px rgba(0,0,0,0.9);
}

.SettingsInner {
    background-color: rgb(2,11,22);
    width: 765px;
    height: 390px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(247,247,247,0.1), inset 0px 0px 4px 2px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 0px 4px 2px rgba(247,247,247,0.1), inset 0px 0px 4px 2px rgba(0,0,0,0.9);
    box-shadow: 0px 0px 4px 2px rgba(247,247,247,0.1), inset 0px 0px 4px 2px rgba(0,0,0,0.9);
}

.WindowTitle {
    color: rgb(195,237,252);
    size: 16px;
    position: absolute;
    left: 15px;
    top: 6px;
    font-family: 'Poppins', sans-serif;
}
